DOCTYPE

<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

COMMENTS

<!-- COMMENTS -->

INVALID ATTRIBUTES

<a charset=""
   coords=""
   rev=""
   shape=""></a>

<area nohref="" />

<body alink=""
      background=""
      bgcolor=""
      link=""
      vlink=""></body>

<br clear="" />

<col char=""
     charoff=""
     valign=""
     width="" />

<colgroup align=""
          char=""
          charoff=""
          valign=""
          width=""></colgroup>

<dl compact=""></dl>

<menu compact=""></menu>

<head profile="test">
  <title>Teste</title>
</head>

<hr align=""
    noshade=""
    size=""
    width="" />

<html version="">

</html>

<iframe align=""
        frameborder=""
        longdesc=""
        marginheight=""
        marginwidth=""
        scrolling=""></iframe>

<img align=""
     hspace=""
     longdesc=""
     name=""
     vspace="" />

<li type=""></li>

<link charset=""
      rev=""
      target="" />

<caption align=""></caption>

<div align=""></div>

<h1 align=""></h1>

<h2 align=""></h2>

<h3 align=""></h3>

<h4 align=""></h4>

<h5 align=""></h5>

<h6 align=""></h6>

<input align="" />

<legend align=""></legend>

<p align=""></p>

<ol compact=""
    type=""></ol>

<ul compact="teste"
    type=""></ul>

<object archive=""
        border=""
        classid=""
        codebase=""
        codetype=""
        declare=""
        hspace=""
        standby=""
        vspace=""
        align=""></object>

<param type=""
       valuetype="" />

<pre width=""></pre>

<t abbr=""
   axis=""></t>

<table bgcolor=""
       border=""
       cellpadding=""
       cellspacing=""
       frame=""
       rules=""
       scheme=""
       width=""></table>

<tbody align=""
       char=""
       charoff=""
       valign=""></tbody>

<td abbr=""
    align=""
    axis=""
    bgcolor=""
    char=""
    charoff=""
    nowrap=""
    scope=""
    valign=""
    width=""></td>

<tfoot align=""
       char=""
       charoff=""
       valign=""></tfoot>

<th align=""
    bgcolor=""
    char=""
    charoff=""
    nowrap=""
    valign=""
    width=""></th>

<thead align=""
       char=""
       charoff=""
       valign=""></thead>

<tr align=""
    bgcolor=""
    char=""
    charoff=""
    valign=""></tr>

ANGULAR DIRECTIVES

<div [binding]="to.element"
     [binding]="to.function('with-parameter')"
     (click)="to.function(with.parameter)"
     (click)="to.function(with.parameter)"
     (click)="to.function(with.parameter)"
     [(binding)]="to.element"
     [attr.href]="file?.link"
     [style.font-size.px]="10"
     [@$visibility]="module.$visibility"
     [@visibility]="getMenuState()"
     [(binding)]="to.function('with-parameter')"
     (click)="callback(parameter.test)"
     [ngClass]="{
        'test': test.isTruthy()
     }"
     *ngIf="condition.met()"
     *ngIf="condition?.met"
     [ngClass]="{ 'test': sdsdasda }"
     class="testing with non multiline {{test}}"
     test
     [test]="test.test();"
     *ngIf="selectedCustomer && selectedCustomer.id > 0"
     *ngFor="let a of b['a'][teste].asd; index as c"
     #templateVariable></div>

ANGULAR INTERPOLATIONS

{{angular.interpolations || test}}
{{angular?.interpolations}}
{{angular!.interpolations}}

<span>
  Hello {{ 1 + 1 === 3 ? 'me' : 'you' }}
</span>
{{ user?.preferences?.avatar }}
{{ user?.name | uppercase }}
{{ user!.preferences!.nickName | uppercase }}

<input type="text"
       #color
       placeholder="Hex color value">
<button (click)="printValue(color.value)">
  Show color
</button>
<span>
  Published: {{ publishedDate | date:'fullDate' }}
</span>

<span *ngIf="publishedDate">
  Published: {{ publishedDate | date:'fullDate' }}
</span>

<span *ngIf="publishedDate; else noPublishedDate">
  Published: {{ publishedDate | date:'fullDate' }}
</span>
<ng-template #noPublishedDate>
  😿 No published date
</ng-template>

<ul>
  <li *ngFor="let user of users">
    name: {{ user.name }}, email: {{ user.email }}
  </li>
</ul>

<ul>
  <li *ngFor="let user of users; index as i">
    {{ i + 1 }}- name: {{ user.name }}, email: {{ user.email }}
  </li>
</ul>

<div [ngSwitch]="user.gender">
  <span *ngSwitchCase="'m'">Male</span>
  <span *ngSwitchCase="'f'">Female</span>
  <span *ngSwitchDefault>Not provided</span>
</div>

ENTITIES

&nbsp;
&#0098;

REGEX

/[^@\/#(){31231231}]/

DEPRECATED TAGS

<acronym class=""></acronym>

<applet class=""></applet>

<basefont class="" />

<big class=""></big>

<center class=""></center>

<dir class=""></dir>

<font class=""></font>

<frame class="" />

<frameset class="">

</frameset>

<isindex class="dsadsdasd" />

<noframes class="">

</noframes>

<s class=""></s>

<strike class="ste">teste testestestestes </strike>

<tt> </tt>

<u>
  the single quote won't bother anymore
  neither will the double one "
</u>


DOM EVENTS

<div DOMMenuItemActive="callback()"
     DOMMenuItemInactive="callback()"
     DOMMouseScroll="callback()"
     onabort="callback()"
     onafterprint="callback()"
     onafterupdate="callback()"
     onbeforecopy="callback()"
     onbeforecut="callback()"
     onbeforeeditfocus="callback()"
     onbeforepaste="callback()"
     onbeforeprint="callback()"
     onbeforeunload="callback()"
     onbeforeupdate="callback()"
     onblur="callback()"
     onbounce="callback()"
     onbroadcast="callback()"
     oncanplay="callback()"
     oncanplaythrough="callback()"
     oncellchange="callback()"
     onchange="callback()"
     onclick="callback()"
     onclose="callback()"
     oncommand="callback()"
     oncommandupdate="callback()"
     oncontextmenu="callback()"
     oncopy="callback()"
     oncut="callback()"
     ondataavailable="callback()"
     ondatasetchanged="callback()"
     ondatasetcomplete="callback()"
     ondblclick="callback()"
     ondrag="callback()"
     ondragdrop="callback()"
     ondragend="callback()"
     ondragenter="callback()"
     ondragexit="callback()"
     ondraggesture="callback()"
     ondragleave="callback()"
     ondragover="callback()"
     ondragstart="callback()"
     ondrop="callback()"
     ondurationchange="callback()"
     onemptied="callback()"
     onended="callback()"
     onerror="callback()"
     onerrorupdate="callback()"
     onfilterchange="callback()"
     onfinish="callback()"
     onfocus="callback()"
     onformchange="callback()"
     onforminput="callback()"
     ongotpointercapture="callback()"
     onhelp="callback()"
     oninput="callback()"
     oninvalid="callback()"
     onkeydown="callback()"
     onkeypress="callback()"
     onkeyup="callback()"
     onload="callback()"
     onloadeddata="callback()"
     onloadedmetadata="callback()"
     onloadstart="callback()"
     onlosecapture="callback()"
     onlostpointercapture="callback()"
     onmousedown="callback()"
     onmousemove="callback()"
     onmouseout="callback()"
     onmouseover="callback()"
     onmouseup="callback()"
     onmousewheel="callback()"
     onoverflow="callback()"
     onoverflowchanged="callback()"
     onpaste="callback()"
     onpause="callback()"
     onplay="callback()"
     onplaying="callback()"
     onpointercancel="callback()"
     onpointerdown="callback()"
     onpointerenter="callback()"
     onpointerleave="callback()"
     onpointermove="callback()"
     onpointerout="callback()"
     onpointerover="callback()"
     onpointerup="callback()"
     onpopuphidden="callback()"
     onpopuphiding="callback()"
     onpopupshowing="callback()"
     onpopupshown="callback()"
     onprogress="callback()"
     onpropertychange="callback()"
     onratechange="callback()"
     onreadystatechange="callback()"
     onreset="callback()"
     onresize="callback()"
     onrowenter="callback()"
     onrowexit="callback()"
     onrowinserted="callback()"
     onrowsdelete="callback()"
     onscroll="callback()"
     onseeked="callback()"
     onseeking="callback()"
     onselect="callback()"
     onselectstart="callback()"
     onshow="callback()"
     onstalled="callback()"
     onstart="callback()"
     onstop="callback()"
     onsubmit="callback()"
     onsuspend="callback()"
     ontimeupdate="callback()"
     onunderflow="callback()"
     onunload="callback()"
     onvolumechange="callback()"
     onwaiting="callback()"></div>

STYLE INLINE

<div style="display: block;
            background-color: rgb(255, 255, 255);
            color: rgba(33, 254, 12, 1);
"></div>

SCRIPT TAG

<script type="text/javascript">
  var a;
  const a = test.callback();
  let a = test;

  function test(variable) {
    return boolean;
  }

</script>

GENERIC ATTRIBUTES

<div class="test"
     id="test"
     aria-label="test"
     no-value
     novalidate>
</div>

<input type="">

<label class="teste"></label>

<button [attr.aria-label]=""></button>
<button [style.background-color]="canSave ? 'cyan': 'grey'">Save</button>
<button [style.font-size.em]="isSpecial ? 3 : 1">Big</button>
<test class="asda\&$#@!\.,~`#$%&**(AZ)=-+_">

</test>
<input />
<input />

<style>
  // stylus
  .stylus .way &-of-doing-it[with-attr] color: red;

  // scss
  .class {
    .with {
      &-children[with-attr] {
        &:hover {
          &::before {
            display: inline-block;
          }
        }
      }
    }
  }

</style>
