node_modules
.vsix
.DS_store
*.sh
.hushlogin
test/externalGrammars/*.json
test/externalGrammars/*.plist
*.todo
out/
.vscode-test/
.history/

# PostCSS plist file is kept for testing as the repository got deleted
# This will be reverted as soon as the current most used postcss extension
# their scope injection
!test/externalGrammars/source.postcss.tmLanguage.plist
