.github/**
.husky/**
.vscode/**
scripts/**
src/**
test/**
out/test/**
out/**/*.map
.gikeep
.vscode-test/**/*
.editorconfig
.gitattributes
.gitignore
.hushlogin
.prettierrc.json
commitlint.config.js
gulpfile.js
package-lock.json
tsconfig.json
tsconfig.test.json
node_modules
webpack.config.js
*.todo
.hushlogin
.eslintrc.js
.prettierignore
.history/**
