.github/**
.husky/**
.vscode/**
node_modules/**
scripts/**
src/**
test/**
out/test/**
.gikeep
.vscode-test/**/*
.editorconfig
.gitattributes
.gitignore
.hushlogin
.prettierrc.json
commitlint.config.js
gulpfile.js
package-lock.json
